body 
{ 
	margin:0;
	padding:0;
	font-family: 'Oswald', sans-serif;
	font-size: 62.5%;
	line-height: 150%;
}

#page
{
	position: relative;
	margin: auto;
	width: 800px;
	text-align: center;
}

#page>header
{
	height: 255px;
	position: fixed;
	background-color: #fff;

}


h1 
{
	padding-top: 100px;
	font-weight: 400;
	font-size: 6em;
	text-align: center;
}

nav
{
	text-align: center;
	list-style: none;
	margin: 0px;
	font-weight: 300;
	font-size: 2em;
	border-top: 3px solid;
	border-bottom: 3px solid;
	width: 800px;
}

nav li 
{
	display: inline;
}

nav a
{
	display: inline-block;
	padding-right: 50px;
	color: #000;
	text-decoration: none;
}

nav a:hover
{
	color: #EF4135;
}

p
{
	font-size: 1.5em;
	font-weight: 300;
	line-height: 2em;
	padding-left: 85px;
	padding-right: 85px;
	padding-bottom: 25px;
}

#contenu
{
	padding-top: 300px;
}
h2
{
	padding-bottom: 25px;
	font-weight: 400;
	font-size: 2.5em;
	text-align: center;
}
#contenu a
{
	color: #000;
	text-decoration: none;
}

#contenu a:hover
{
	color: #EF4135;
}
img
{
	background-color: #eee;
	padding-bottom: 50px;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 25px;
	border-radius: 20px;
}

h3
{
	margin-top: -35px;
	padding-bottom: 75px;
}

#pageactuelle
{
	color: #EF4135;
}