@charset "UTF-8";
#contenant {
position: absolute;
	height: 655px;
	width: 900px;
	left: 50%;
	margin-left: -450px;
	margin-top: -327.5px;
	top: 50%;;
	
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	line-height: 150%;
	color: #000;
}
p {
	font-size: 1.6em;
	color: #000;
	padding: 0px;
	line-height: 2em;
	margin: 0px;
}
#affiche {
	position: absolute;
	height: 560px;
	width: 385px;
	left: 415px;
	top: 21px;
}
#joindre {
	position: absolute;
	height: 37px;
	width: 140px;
	left: 815px;
	top: 0px;
}
#citation1 {
	position: absolute;
	height: 200px;
	width: 325px;
	left: 71px;
	top: 160px;
}
#citation2 {
	position: absolute;
	height: 200px;
	width: 325px;
	left: 71px;
	top: 160px;
	visibility: hidden;
}
#citation3 {
	position: absolute;
	height: 200px;
	width: 325px;
	left: 71px;
	top: 160px;
	visibility: hidden;
}
#pointillés {
	position: absolute;
	height: 10px;
	width: 78px;
	left: 297px;
	top: 369px;
}
#pointillés_texte {
	position: absolute;
	height: 10px;
	width: 78px;
	left: 294px;
	top: 288px;
}
#pointillés_adapt {
	position: absolute;
	height: 10px;
	width: 59px;
	left: 815px;
	top: 375px;
}
#texte1 {
	position: absolute;
	height: 397px;
	width: 432px;
	left: 412px;
	top: 156px;
	text-align: justify;
	word-spacing: 0.2em;
}
#texte2 {
	position: absolute;
	height: 397px;
	width: 432px;
	left: 412px;
	top: 156px;
	text-align: justify;
	word-spacing: 0.2em;
	visibility: hidden;
}
#texte3 {
	position: absolute;
	height: 397px;
	width: 432px;
	left: 412px;
	top: 156px;
	text-align: justify;
	word-spacing: 0.2em;
	visibility: hidden;
}
#texte4 {
	position: absolute;
	height: 397px;
	width: 432px;
	left: 412px;
	top: 156px;
	text-align: justify;
	word-spacing: 0.2em;
	visibility: hidden;
}
#photo1 {
	position: absolute;
	height: 207px;
	width: 450px;
	left: 415px;
	top: 160px;
}
#photo2 {
	position: absolute;
	height: 207px;
	width: 450px;
	left: 415px;
	top: 160px;
	visibility: hidden;
}
#photo3 {
	position: absolute;
	height: 207px;
	width: 450px;
	left: 415px;
	top: 160px;
	visibility: hidden;
}
#menu {
	position: absolute;
	height: 215px;
	width: 352px;
	left: 0px;
	top: 385px;
}
#menu ul {
	margin: 0px;
	padding: 0px;
}
#menu ul li {
	font-size: 3.8em;
	list-style: none;
	line-height: 1em;
	font-weight: bold;
	margin-bottom: 5px;
}
#menu ul li a:link {
	text-decoration: none;
	background: url(../Images/hover.png) no-repeat right;
	width: 327px;
	height: 45px;
	margin: 0px;
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	-khtml-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-chrome-transition: background 0.5s ease;
	transition: background 0.5s ease;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: block;
}
#menu ul li a:hover {
	color: #FFF;
	background: url(../Images/hover.png) no-repeat left;
	display: block;
	padding-right: 10px;
	
}
.pointillés_noir {
	padding-right: 5px;
	margin-right: 5px;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: medium;
	border-right-style: dashed;
	border-right-color: #666;
}
.pointillés_jaune {
	border-right: medium dashed #F6D000;
	padding-right: 5px;
	margin-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.noir {
	color: #000;
}
.jaune {
	color: #F6D000;
}
