#contenant {
	position: absolute;
	height: 655px;
	width: 900px;
	left: 50%;
	margin-left: -450px;
	margin-top: -327.5px;
	top: 50%;
}
body {
	font: 62.5%/150% Arial, Helvetica, sans-serif;
	color: #999;
}
p {
	margin: 0px 0px 0px 415px;
	padding: 0px;
}
a:link {
	color: #999;
	text-decoration: none;
}
a:visited {
	color: #999;
}
a:hover {
	color: #F6D000;
}
#titre {
	height: 280px;
	width: 749px;
	top: 155px;
	position: absolute;
}
#btn {
	position: absolute;
	height: 93px;
	width: 95px;
	left: 658px;
	top: 447px;
}
